<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">Sot - lobby </a>
      <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="{% url 'create'%}">Nowa poczekalnia</a></li>
          <li><a href="{% url 'user-dash' %}">Dashboard</a></li>
          <li><a href="{% url 'profile' %}">Profil</a></li>
          <li><a href="{% url 'showuserinvites' user.profile.id %}">Zaproszenia</a></li>
          <li><a href="{% url 'logout' %}">Wyloguj się</li>
          {% else %}
          <li><a href="{% url 'login'%}">Zaloguj się</a></li>
          <li><a href="{% url 'register'%}">Zarejestruj się</a></li>
          {% endif %}
  
      </ul>

      <ul id="nav-mobile" class="sidenav">
          {% if user.is_authenticated %}
          <li><a href="{% url 'create'%}">Nowa poczekalnia</a></li>
          <li><a href="{% url 'user-dash' %}">Dashboard</a></li>
          <li><a href="{% url 'profile' %}">Profil </a></li>
          <li><a href="{% url 'showuserinvites' user.profile.id %}">Zaproszenia</a></li>
          <li><a href="{% url 'logout' %}">Wyloguj się</li>
          {% else %}
          <li><a href="{% url 'login'%}">Zaloguj się</a></li>
          <li><a href="{% url 'register'%}">Zarejestruj się</a></li>
          {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>