{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body bgcolor="#606060">
 {% include '_partials/alerts.html' %}
    <form class="box" action="{% url 'login' %}" method='POST' >
    {% csrf_token %}
        <h1>Register</h1>
        <input type="text" name="username"placeholder="username">
        <input type="text" name="name" placeholder="name">
        <input type="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>