{% extends 'base.html' %}
  {% block content%}
    <br>
    <div class="container">

        <div class="row">

            <div class="card ">
                
                <div class="card-content">
                    
                    <span class="card-title center-align">Stworz poczekalnie</span>
                    
                    <div class="row">
                        <form action="{% url 'create' %}" method="POST">
                            {% csrf_token %}
                        <div class="input-field col s12">
                          <input id="first_name2" type="text" name="title" class="validate create">
                          <label class="active " for="first_name2">Tytuł</label>
                        </div>
                        <div class="input-field col s12"><br>
                            <label class="active" for="first_name2">First Name</label>
                            <p>
                                <label>
                                  <input name="members" value="1" type="radio" />
                                  <span>1</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input name="members" value="2"type="radio" />
                                  <span>2</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input name="members" value="3"type="radio" />
                                  <span>3</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input name="members" value="4"type="radio" />
                                  <span>4</span>
                                </label>
                              </p>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="2018-1-21 15:10" id="first_name2" type="text" name="date"class="validate create">
                            <label class="active" for="first_name2">Kiedy sie rozpocznie</label>
                        </div>
                        <div class="input-field col s12">

                          <label class="sr-only">Kategoria</label><br><br>
                          <select name="category" class = "browser-default">
                            <option value="" disabled="disabled" selected="selected">Choose your option</option>
                            <option value="1">Fort</option>
                            <option value="2">Atena</option>
                            <option value="3">Gold</option>
                        </select>                      
                        
                        </div>
                      </div>
                    
                </div>

                <div class="card-action right-align">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                  </form>
                </div>
                
            </div>

        </div>

    </div>
{% endblock %}