{% extends 'base.html' %}
{% block content%}

    <div class="container">

        <div class="row">

            <div class="card brown lighten-3">
                
                <div class="card-content">
                    
                    <span class="card-title center-align">Stworz poczekalnie</span>
                    
                    <div class="row">
                        <form action="{% url 'create' %}" method="POST">
                            {% csrf_token %}
                        <div class="input-field col s12">
                          <input id="first_name2" type="text" name="title" class="validate create">
                          <label class="active " for="first_name2">Tytuł</label>
                        </div>
                        <div class="input-field col s12"><br>
                            <label class="active" for="first_name2">First Name</label>
                            <p>
                                <label>
                                  <input name="members" value="1" type="radio" />
                                  <span>1</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input name="members" value="2"type="radio" />
                                  <span>2</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input class="group1" name="group1" type="radio"  />
                                  <span>3</span>
                                </label>
                              </p>
                              <p>
                                <label>
                                  <input name="group1" type="radio" />
                                  <span>4</span>
                                </label>
                              </p>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="2018-1-21 15:10" id="first_name2" type="text" name="date"class="validate create">
                            <label class="active" for="first_name2">Kiedy sie rozpocznie</label>
                        </div>
                        <div class="input-field col s12">

                          <label class="sr-only">State</label>
                          <select name="state" class = "browser-default">
                            <option selected="true" disabled="disabled">State (All)</option>
                                      <option>swswwsws</option>
                          </select><br>                          
                        
                        </div>
                      </div>
                    
                </div>

                <div class="card-action right-align">
                    <input type="submit">This is ssssa link</input>
                  </form>
                    <a href="#">This is a link</a>
                </div>
                
            </div>

        </div>

    </div>
{% endblock %}