{% extends 'base.html' %}
{% block content%}

  <!-- section1 -->
  <div class='section1'>
  <div class="container">
    <div class="section">
          <!-- first lobby -->
          <div class="row center-align" style="padding: 0 20px 0 20px; align-">
              <div class="col s12 m12">
                <div class="card blue-grey darken-1 z-depth-4">
                  <div class="card-content white-text">
                    <span class="card-title">Queue title</span>
                    <p>Members x/4,  date ,category name, usrs name , </p>
                  </div>
                  <div class="card-action">
                    <a href="#">Dołącz</a>
                  </div>
                </div>
              </div>
          </div>

           <div class="row" style="padding: 0 20px 0 20px;">

              <div class="col s12 m6" >
                <div class="card blue-grey darken-1 z-depth-4">
                  <div class="card-content white-text">
                    <span class="card-title">Queue title</span>
                    <p>Members x/4,  date ,category name, usrs name , </p>
                  </div>
                  <div class="card-action">
                    <a href="#">Dolacz</a>
                  </div>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="card blue-grey darken-1 z-depth-4">
                  <div class="card-content white-text">
                    <span class="card-title">Queue title</span>
                    <p>Members x/4,  date ,category name, usrs name , </p>
                  </div>
                  <div class="card-action">
                    <a href="#">Dolacz</a>
                  </div>
                </div>
              </div>

          </div>

    </div>

  </div>
  </div>

  <!-- section2-->
  <div class='section2'>
  <div class="container">
    <div class="section">
        <div class="fort">
        <h2><span style="border-bottom: 5px solid green;">Fort lobby<span></h3><br>

             <div class="col s12 m6" style="width:200px;">
                <div class="card blue-grey darken-1 z-depth-4">
                  <div class="card-content white-text">
                    <span class="card-title">Queue title</span>
                    <p>Members x/4,  date ,category name, usrs name , </p>
                  </div>
                  <div class="card-action">
                    <a href="#">Dolacz</a>
                  </div>
                </div>
              </div>


        <br>
       </div>
       <div class="atena">
         <h3><span style="border-bottom: 5px solid green;">Fort lobby<span></h3>
                <br>
               <div class="col s12 m6" style="width:200px;">
                <div class="card blue-grey darken-1 z-depth-4">
                  <div class="card-content white-text">
                    <span class="card-title">Queue title</span>
                    <p>Members x/4,  date ,category name, usrs name , </p>
                  </div>
                  <div class="card-action">
                    <a href="#">Dolacz</a>
                  </div>
                </div>
              </div>

        <br>
       </div>
    </div>
  </div>
  </div>

{% endblock %}