{% extends 'base.html' %}

{% block content %} 

<div class="container">

    <div class="row">

        <div class="card dashboard col m12 s12">

            <div class="card-title" style="padding-top: 1px;">
                <h5 class="center-align">Ocenianie uzytkownikow</h5>
            </div>

            <div class="card-content">
                
                <div class="row">
                    <!-- for particular user-->
                    {% for member in members %}
                    <div class="input-field col s12">
                        
                        <div class="center-align">

                            <div class="row">

                                <div class="col m6 s12">
                                    
                                        {{ member.name }}

                                </div>

                                <div class="col m6 s12">
                                        <form method="GET" action="{% url 'repplus' user_id  queue_id %}">
                                            <button type="submit" class="waves-effect waves-light "><i class="material-icons ">add</i></button>
                                        </form>
                                    
                                        <form method="GET" action="{% url 'repdown' user_id  queue_id %}">
                                            <button type="submit" ><i class="material-icons ">remove</i></button>
                                        </form>   
                                </div>

                            </div>
                            <hr>
                        </div>

                    </div>
                    {% endfor %}
                   <!--- end-->
    
                  </div>
    

            </div>

            <div class="card-action">

                <div class="right-align">
                   <form method="GET" action="{% url 'deletedash' queue_id %}">

                    <button class="btn waves-effect waves-light" style="background-color: #f4511e ;"  type="submit" name="action"> Usuń poczekalnie  
                    </button>

                   </form>
                </div>

            </div>

        </div>

    </div>


</div>

{% endblock %}