{% extends 'base.html' %}

    {% block content %}<br>

        <div class="row">

            <div class="offset-m1 col m10 offset-m1 s12">

                    <div class="card horizontal">

                            <div class="card-stacked"><br>

                                <div class="card-title center-align">
                                    Twoje zaproszenia do poczekalni
                                </div>

                              <div class="card-content">

                                    {% for invite in invitation %}

                                        {{ invite.id }}<!---  display table same as in profile  -->

                                    {% endfor %}

                              </div>

                        </div>

                    </div>
            </div>

        </div>

    {% endblock %}